@import '../../styles/theme.scss';

.header {
  height: 11.2rem;  
  padding: 3.2rem;
  background-color: $color-orange;

  svg {
    height: 4.8rem;
    min-height: 4.8rem;
    min-width: 17.6rem;
    width: 17.6rem;
  }
}