/* Colors */
$color-black: #1d1d1b;
$color-white: #ffffff;
$color-orange: #ff991f;
$color-grey-bg: #f6f6f1;
$color-grey-border: #e2e8f0;
$color-grey-text: #737372;

/* Radius */
$border-radius-card: 0.8rem;
$border-radius-input: 0.4rem;

/* Fonts */
$font-inter: "Inter";
